<div class="product">
  <ion-card class="product-card">
    <div class="product-card__img">
      <img src="https://cdn.pixabay.com/photo/2021/06/08/11/27/mushrooms-6320451_1280.jpg">
    </div>
    <ion-label>
      <h3>Les bons poivrons</h3>
      <p>Nos poivrons sont traités sans produits chimiques</p>
    </ion-label>
  </ion-card>
  <div class="product-actions">
    <button class="btn btn-primary-outline">Modifier</button>
    <button class="btn btn-alert-outline">Supprimer</button>
  </div>
</div>