.btn {
  height: 40px;
  border-radius: 10px;
  --border-radius: 10px;
  font-weight: bold;
  transition: all 0.3s;

  // Primary
  &-primary {
    color: var(--ion-color-primary-contrast);
    background: var(--ion-color-primary);
    --background: var(--ion-color-primary);
    border: 2px solid var(--ion-color-primary);

    &:hover {
      color: var(--ion-color-primary);
      background: transparent;
      --background: transparent;
      border: 2px solid var(--ion-color-primary);
    }

    &-outline {
      color: var(--ion-color-primary);
      background: transparent;
      --background: transparent;
      border: 2px solid var(--ion-color-primary);

      &:hover {
        color: var(--ion-color-primary-contrast);
        background: var(--ion-color-primary);
        --background: var(--ion-color-primary);
        border: 2px solid var(--ion-color-primary);
      }
    }
  }
  //--

  // Secondary
  &-secondary {
    color: var(--ion-color-secondary-contrast);
    background: var(--ion-color-secondary);
    --background: var(--ion-color-secondary);
    border: 2px solid var(--ion-color-secondary);

    &:hover {
      color: var(--ion-color-secondary);
      background: transparent;
      --background: transparent;
      border: 2px solid var(--ion-color-secondary)
    }

    &-outline {
      color: var(--ion-color-secondary);
      background: transparent;
      --background: transparent;
      border: 2px solid var(--ion-color-secondary);

      &:hover {
        color: #fff;
        background: var(--ion-color-secondary);
        --background: var(--ion-color-secondary);
        border: 2px solid var(--ion-color-secondary);
      }
    }
  }
  //--

  // Gradient
  &-gradient {
    color: var(--ion-color-secondary-contrast);
    background: var(--ion-background-card-color);
    --background: var(--ion-background-card-color);
    border: 2px solid var(--ion-background-card-color);

    &:hover {
      color: var(--ion-background-card-color);
      background: var(--ion-color-secondary-contrast);
      --background: var(--ion-color-secondary-contrast);
      border: 2px solid var(--ion-background-card-color);
    }

    &-outline {
      color: var(--ion-background-card-color);
      background: var(--ion-color-secondary-contrast);
      --background: var(--ion-color-secondary-contrast);
      border: 2px solid var(--ion-background-card-color);

      &:hover {
        color: var(--ion-color-secondary-contrast);
        background: var(--ion-background-card-color);
        --background: var(--ion-background-card-color);
        border: 2px solid var(--ion-background-card-color);
      }
    }
  }
  //--

  // Alerte
  &-alert {
      color: var(--ion-color-primary-contrast);
      background: var(--ion-color-danger-tint);
      --background: var(--ion-color-danger-tint);
      border: 2px solid var(--ion-color-danger-tint);

      &:hover {
        color: var(--ion-color-danger-tint);
        background: transparent;
        --background: transparent;
        border: 2px solid var(--ion-color-danger-tint);
      }

    &-outline {
      color: var(--ion-color-danger-tint);
      background: transparent;
      --background: transparent;
      border: 2px solid var(--ion-color-danger-tint);

      &:hover {
        color: var(--ion-color-primary-contrast);
        background: var(--ion-color-danger-tint);
        --background: var(--ion-color-danger-tint);
        border: 2px solid var(--ion-color-danger-tint);
      }
    }
  }
  //--

  // Link
  &-link {
      height: auto;
      text-transform: initial;
      border-radius: inherit;
  }
  //--
}

/* 
** Others 
*/

/* Text Link */
.text-link {
  color: var(--ion-color-secondary);
  font-weight: bold;
  background: none;

  &:after {
    content: "";
    position: relative;
    display: block;
    height: 10px;
    min-width: 10px;
    width: 10px;
    //background-image: url("");
    margin-left: 5px;
    transform: rotate(45deg);
  }
}

/* Span Link */
.span-link {
  color: var(--ion-color-secondary);
  font-weight: bold;
  background: none;

  &-white {
    color: var(--ion-color-primary-contrast);
    font-weight: bold;
  }
}

/* Ou */
.search-item__other {
  position: relative;
  text-align: center;
  color: var(--ion-color-secondary);
  font-weight: bold;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 12px;
    left: 37%;
    width: 25px;
    height: 2px;
    background-color: var(--ion-text-color);
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 12px;
    right: 37%;
    width: 25px;
    height: 2px;
    background-color: var(--ion-text-color);
  }
}

/* Input */
.input-spe {
  background-color: #EBE8E8;
  border-radius: 5px;
}

/* Required */
.required {
  color: var(--ion-color-danger-tint);
}