.product {
  display: flex;
  flex-direction: row;
  height: 100vh;

  &-farmersshop {
    position: absolute;
    top: -5px;
    left: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 110px;
    background-color: #F2F2F2;
    border-radius: 50%;
    cursor: pointer;

    img {
      width: 75px;
      height: 75px;
      margin-left: 20px;
    }
  }

  &-menu {
    position: absolute;
    top: 35%;
    left: 20px;
    min-width: 170px;
    min-height: 270px;
  }

  &-contrib {
    position: absolute;
    left: 170px;
    display: flex;
    flex-direction: column;
    margin-right: 25px;

    h2 {
      margin-bottom: 40px;
    }

    &__items {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      padding: 15px;
      border-radius: 10px;
      box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);

      p {
        font-size: 14px;
        font-weight: bold;
        padding: 0;
        margin: 0 0 40px 0;
      }

      .p-absolute {
        position: absolute
      }

      ion-label {
        font-weight: bold;
      }

      &--left {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        padding-right: 20px;
        padding-bottom: 70px;
        width: calc(100% / 2);
        border-right: 2px solid;
        border-color: rgba(0, 0, 0, 0.2);
      }

      &--right {
        display: flex;
        flex-direction: column;
        width: calc(100% / 2);

        p {
          margin-bottom: 15px;
        }

        div {
          display: flex;
          justify-content: center;
        }
      }
    }
  }

  // Btn for only product
  &-validate {
    position: absolute;
    bottom: 0;
    right: 20px;
  }
}